{{>header}}

    {{>navbar}}

    <div class="row">
        <div class="col-8">
            <h1>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Alias iste unde, quis error inventore sit incidunt aliquid eveniet impedit est natus illum, architecto asperiores doloribus? Doloribus quo enim ab eveniet.</h1>
        </div>
        <div class="col-4">
            <img src="/assets/img/logo-hexagon-card.png" class="img-thumbnail" />
        </div>
    </div>

    {{>footer}}